<%- include("partials/header"); -%>


<div class="jumbotron">
  <h1 class="display-4 mx-5">Decrypt your Files</h1>
  <p class="lead mx-5">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4 mx-5">
  <p class="mx-5"> Enter a password which was used for encrypting the file. </p>

  <form class="form-upload mx-5" action="/FileUpload" method="POST" enctype="multipart/form-data">
    <div class="form-group row">
      <div class="col-sm-8">
        <input type="password" name="password" class="form-control"   id="inputDecrypt" placeholder="Password">
      </div>
  </div>
        <input name="myfile" type="file" />
         <div>
  			<button id="upload_decyrpt" type="submit" class="btn btn-primary btn-lg mt-4">Upload File</button>
  		</div>
  </form>

</div>

<%- include("partials/footer"); -%>