body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url('/images/img2.avif');
    background-repeat: no-repeat;
    background-color: #2f3437;
    background-size: cover;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    margin-top: 5rem;
}

.heading {
    margin-top: 5rem;
    background: none;
    border: none;
    color: white;
}

.heading h2 {
    text-align: center;
}

.card {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
}

.card-body {
    width: 75%;
    border-radius: 0.5rem;
    background-color: #1d1f22;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 500;
}

.card-title {
    text-align: center;
    opacity: 1;
    color: white;
}

.card-text {
    text-align: center;
    color: white;
}

.btn {
    text-align: center;
    border: 1px solid white;
    color: white !important;
}

input::file-selector-button {
    background-position-x: 0%;
    background-size: 200%;
    border: 0;
    border-radius: 8px;
    padding: 0.75rem 1rem;
  }

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent a {
    color: white;
}

.parent a:hover {
    color: white;
}

/*Encrypt & Decrypt*/
.jumbotron {
    height: 80%;
    width: auto;
    border-radius: 0px;
    display: flex;
    align-content: center;
    flex-direction: column;
    color: white;
    background-color: #1d1f22;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.jumbotron_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    height: 100vh !important;
}

.jumbotron_about_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.jumbotron_about {
    background-color: #fff;
}

.jumbotron_para {
    text-align: left;
}

.form-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#inputPassword {
    width: 20rem;
}

/*Responsive Design*/
@media (max-width: 700px) {
    .about_heading {
        font-size: 2rem;
        font-weight: 400;
    }

    .main-container {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .main-container {
        margin-top: 3rem;
    }
}